/* index */
.container {
  margin-top: 50px; }

.logo {
  border-radius: 10px; }

.Titulo {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #221688;
  font-size: 300%; }

.form-label {
  margin: auto;
  font-size: 130%;
  font-family: Arial, Helvetica, sans-serif; }

/*marcas */
.titulomarcas {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #221688;
  font-size: 300%; }

.col-4 {
  text-align: center;
  margin-top: 3%; }

.mm {
  width: 100px;
  height: 100px; }

/* ubicacion */
