/* index */
.container {
    margin-top: 50px;
}
.logo {
    border-radius: 15px;
}
.Titulo { 
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(34, 22, 136);
    font-size: 300%;
    }
.carr {
    text-align: center;
    display: block;
      width: 80%;
      height: 70px;
}

/*marcas */
.titulomarcas { 
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(34, 22, 136);
    font-size: 300%;

}
.col-4 { 
    text-align: center;
    margin-top: 3%;
}
.mm {
    width: 100px; height: 100px;
}
/* ubicacion */
.mapa {
    text-align: center;
}

/* contacto */

.form-label {
    margin: auto;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
}

/* quienes somos */
.pquienes{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    margin-top: 50px;
}