/* index */
.container {
    margin-top: 50px;
}
.logo {
    border-radius: 15px;
}

.Titulo { 
    color: rgb(0, 57, 245);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-size: 300%;
    }

/*marcas */
.titulomarcas { 
    color: rgb(0, 57, 245);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-size: 300%;

}
.col-4 { 
    text-align: center;
    margin-top: 3%;
}
.mm {
    width: 150px; height: 150px;
}
/* ubicacion */
.mapa {
    text-align: center;
}

/* contacto */

.form-label {
    margin: auto;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
}

/* quienes somos */
.card {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    margin-top: 50px;
}